.DS_Store

.env
.env.*
!.env.example

docker-compose.override.yml
*.log

*.pid
*.sock

application/uploads/*
!application/uploads/index.html
assets/temp/*

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

application/sessions/*
!application/sessions/index.html

assets/exports/*
uploads/
assets/uploads/

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

Thumbs.db
.vscode/
.idea/
*.code-workspace

.cursor/
.claudecustominstructions
.cursorrules

*.sql
*.sqlite

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
